<h1>Search Pokémon TCG Card Sets</h1>

<%= form_with url: search_card_sets_path, method: :get, local: true do |form| %>
  <div>
    <%= form.label :query, "Search by keyword:" %>
    <%= form.text_field :query, value: params[:query] %>
  </div>

  <div>
    <%= form.label :category_id, "Select Category:" %>
    <%= form.collection_select :category_id, @categories, :id, :name, prompt: "All Categories" %>
  </div>

  <%= form.submit "Search" %>
<% end %>

<h2>Search Results:</h2>
<div class="card-sets">
  <% @card_sets.each do |set| %>
    <div class="card-set">
      <h3><%= set['name'] %></h3>
      <% if set['images'] %>
        <%= image_tag set['images']['small'], alt: set['name'] %>
      <% end %>
      <p><%= set['description'] %></p>
    </div>
  <% end %>
</div>
