<h1>All Cards</h1>

<%= form_with url: search_cards_path, method: :get, local: true do |form| %>
  <div>
    <%= form.label :query, "Search Cards" %>
    <%= form.text_field :query %>
  </div>
  <div>
    <%= form.label :card_set_id, "Select Set" %>
    <%= form.collection_select :card_set_id, CardSet.all, :id, :name, include_blank: "All Sets" %>
  </div>
  <%= form.submit "Search" %>
<% end %>

<details>
  <summary>Shopping Cart</summary>
  <% if @cart.empty? %>
    <p>No items in cart.</p>
  <% else %>
    <ul>
      <% @cart.each do |card| %>
        <li>
          <%= card.name %> - Quantity: <%= card.quantity %>
          <%= form_with url: update_cart_item_path(card), method: :patch, local: true do |form| %>
            <%= form.number_field :quantity, value: card.quantity, min: 1 %>
            <%= form.submit 'Update Quantity' %>
          <% end %>
          <%= link_to 'Remove from cart', remove_from_cart_path(card), data: { 'turbo-method' => :delete } %>
        </li>
      <% end %>
    </ul>
  <% end %>
</details>

<% if @cards.any? %>
  <div class="cards">
    <% @cards.each do |card| %>
      <div class="card">
        <h2><%= card.name %></h2>
        
        <% if card.image.attached? %>
          <%= image_tag url_for(card.image), alt: card.name %>
        <% else %>
          <% if card['images'] %>
            <%= image_tag card['images']['small'], alt: card.name %>
          <% end %>
        <% end %>
        
        <p><%= link_to 'Details', card_path(card) %></p>
        <% if @cart.any? { |card| card.card_id == card.id } %>
          <p><%= button_to 'Remove from cart', remove_from_cart_path(card), data: { 'turbo-method' => :delete } %></p>
        <% else %>
          <p><%= button_to 'Add to Cart', add_to_cart_card_path(card), method: :post %></p>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= paginate @cards %>
<% else %>
  <p>No cards found.</p>
<% end %>
