<h1><%= @card['name'] %></h1>

<% if @card['images'] %>
  <%= image_tag @card['images']['large'] %>
<% end %>

<p><strong>Supertype:</strong> <%= @card['supertype'] %></p>
<p><strong>Subtypes:</strong> <%= @card['subtype'] %></p>
<p><strong>Set:</strong> <%= @card['name'] %></p>
<p><strong>Rarity:</strong> <%= @card['rarity'] %></p>

<%= button_to 'Add to Cart', add_cart_path(card_id: @card.id, quantity: 1), method: :post %>
