<!DOCTYPE html>
<html>
<head>
  <title>PokemonStore</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
<h1>Pokemon Cards</h1>
  <nav>
    <ul>
      <li><%= link_to 'Cards', cards_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <!-- Remove the form for card sets selection -->
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
